@model HTCore.Models.OpenData

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OpenData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="園區別" class="control-label"></label>
                <input asp-for="園區別" class="form-control" />
                <span asp-validation-for="園區別" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="廠商名稱" class="control-label"></label>
                <input asp-for="廠商名稱" class="form-control" />
                <span asp-validation-for="廠商名稱" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="地址" class="control-label"></label>
                <input asp-for="地址" class="form-control" />
                <span asp-validation-for="地址" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>